@import "@fontsource/archivo"; /* Archivo (bold e italic) */
@import "@fontsource/dm-serif-display"; /* DM Serif Display */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=DM+Serif+Display&display=swap');


html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Archivo", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F1F3F4; /* Asegurar el fondo correcto */
}
